<html>
<head>
  <title>Team 50</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <link rel="stylesheet" href="/main.css" media="all">
</head>
<body>
  <div class="alert alert-danger alert-dismissable" id="warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Warning!</strong> Stop buying shit.
  </div>
  <div style="margin:50px;">
    <nav class="navbar navbar-inverse navbar-static-top" style="z-index: -1">
  <div class="container">
    <a class="navbar-brand">Team 50</a>
  </div>
</nav>
    <div class="jumbotron" style="padding:40px;">
      <div id="container" style="z-index: -1"></div>
    </div>

	<div class="container outlet">
		
    <div class="row">
    	<p id="score">Good job! Your current sentiment score is <strong>76 </strong></p> <div class="container">
        <!-- <div class="col-md-3 col-sm-6"> -->
            <div class="progress yellow" style="z-index: 0">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">76%</div>
            </div>
       <!--  </div> -->
    </div>
</div>
	<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Item Name</th>
      <th>Date of transaction</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Interest Payment</td>
      <td>12/21/2015</td>
      <td>$22.00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Interest Payment</td>
      <td>11/02/2015</td>
      <td>$32.00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Uber Fare</td>
      <td>10/21/2015</td>
      <td>$6.66</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Pizzaaaa</td>
      <td>09/21/2015</td>
      <td>$10.10</td>>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Red Wine</td>
      <td>08/15/2015</td>
      <td>$5.00</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Coldplay tickets</td>
      <td>07/21/2015</td>
      <td>$45.00</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Leather Seats</td>
      <td>06/08/2015</td>
      <td>$30.00</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Magic Carpet</td>
      <td>05/21/2015</td>
      <td>$9.11</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>iPhone X</td>
      <td>04/21/2015</td>
      <td>$49.99</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Car Rental</td>
      <td>03/21/2015</td>
      <td>$23.00</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Doritos</td>
      <td>02/11/2015</td>
      <td>$5.45</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Weed Stash</td>
      <td>29/01/2015</td>
      <td>$50.00</td>
    </tr>   
  </tbody>
</table>
	</div>
</div>
<br><br><br><br><br><br>
  <div class="footer" id="footer">
  <div class="footer container">
  	<p><strong>== Backend System Log ==</strong></p>
    <div class="row">
        <div class="form-group name1 col-md-5">
            <label for="exampleInputEmail1" class="formText">Purchase</label>
            <input type="text" class="form-control" aria-describedby="basic-addon2" id="purchaseInput">
        </div>

        <div class="form-group name2 col-md-5">
            <label for="exampleInputEmail1## Heading ##" class="formText">Price</label>
            <input type="text" class="form-control" aria-describedby="basic-addon2" id="priceInput">
        </div>

        <div class="button col-md-2">
        	<button type="button" class="btn btn-info" onclick="submit()">Submit</button>
    	</div>
    </div>
</div>
</div>
 <script src="/views/main.js"></script>
</body>
</html>