.container.outlet {
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.2);
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
    background-color: white; 
    padding-top: 15px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer.container {
	padding: 50px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: grey;
}